.control-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;

  text-decoration: none;
  max-width: 4rem;
  cursor: pointer;
}

.back {
  color: var(--black);
  padding: 0rem;
  max-width: 5rem;
  background-color: transparent;
}

.prev {
  background-color: var(--black);
  color: var(--gray);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.next {
  background-color: var(--red);
  color: var(--white);
}
