.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  grid-area: footer;
  background-color: var(--black);

  gap: 1rem;
  padding: 1rem;
}

.footer-item {
  color: var(--white);
}
